<div style="
margin: auto;
display:flex;
align-items: center;
width: 40vw;
justify-content: center;
padding-bottom: 60px;
">
<h2>Time to pick New Zealand's sexiest HTML tag. Vote below for your favourite. View individual profiles. May the best tag win!</h2>
</div>