<div class="leaderboard">
  
  {{#each tags}}
  <div class="lb">
    <img src="/favicon.ico" alt="">
    <h4>{{name}}</h4> 
    <p>{{description}}</p>
    {{!-- <a href="/profile/{{id}}">view profile</a> --}}
    <button class="voteButton" type="button">UpVote</button>
  </div>
  {{/each}}
    
  
</div>