<section id="profile-container">

<section id="name-section">{{name}}
</section>

<section id="vote-section">
{{vote_count}}
</section>

<section id="description-section">
  {{description}}
</section>

</section>