<section id="profile-container">

<section id="name-section">{{name}}
</section>

<section id="description-section">
  {{description}}
</section>
<section id="vote-section">
Vote count: {{vote_count}}
</section>

<section id="home-section">
<a href="/">Home</a>
</section>



</section>