body {
  box-sizing: border-box;
  background: #a92b98;
  background: linear-gradient(0deg, #a92b98 0%, #000 100%);
  height: 100vw;
  color: #fff;
  /* font-family: 'Climate Crisis', cursive; */
  /* font-family: 'Tilt Neon', cursive; */
  font-family: 'Tilt Warp', cursive;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.vl {
  border-left: 2px solid white;
  height: 30px;
}

.desc {
  height: 20px;
  width: 40vw;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: clip;
  display: inline-block;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}

.navbar li {
  display: inline;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.leaderboard {
  display: flex;
  align-items: center;  
  flex-direction: column;
  
}

.lb {
  display: flex;
  align-items: center;  
  width: 70vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
}

.voteButton {
  display: flex;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.voteButton:hover {
  background-color: #a92b98; 
  color: white;
}

#profile-container {
  margin: 15px;
  width: 60vw;
  border: 4px solid white;
  box-shadow: 0px 0px 20px pink;
  height: 80vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
#name-section {
  font-size: 3em;
  line-height: 35vh;
  height: 35vh;
  width: 100%;

}
#vote-section {
  font-size: 3em;
  height: 10vh;
  width: 100%;

}
#description-section {
  line-height: 10vh;
  font-size: 2em;
  height:35vh;
  width: 100%;

}